h1{
    font-size: 40px
}

.container {
    padding-top: 5vw;
    margin: 0vw 15vw;

    background-color: aquamarine;
}

@media only screen and (max-width: 671px) {
    .container {
        margin: 0vw 5vw;
    }

    h1 {
      font-size: 30px;
    }
  }
